body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "recD recD recD inputD inputD inputD"
                         "recD recD recD inputD inputD inputD"
                         "recD recD recD util util paym"
                         "butP butP mid numP numP paym"
                         "butP butP mid numP numP paym"
                         "butP butP mid numP numP paym";
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

button:active {
    opacity: 0.5;
}

.recD {
    grid-area: recD;
    border: black solid 1px;
}

.mid {
    grid-area: mid;
    border: black solid 1px;  
}

.util {
    grid-area: util;
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.util > button {
    height: 90px;
    width: 100px;
}

.inputD {
    grid-area: inputD;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numP {
    grid-area: numP;
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.numP > button {
    height: 70px;
    width: 130px;
}

.paym {
    grid-area: paym;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.butP {
    grid-area: butP;
    border: black solid 1px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.butP > button {
    outline: none;
    height: 110px;
    width: 110px;
    color: white;
    font-size: 1.5rem;
    border: none;
}

.paym > button{
    outline: none;
    height: 75px;
    width: 75%;
}


.inputD > div {
    width: 75%;
    height: 40%;
    border: black 1px solid;
}

.inputDisplay {
    display: flex;
    justify-content: left;
    align-items: center;
}

/* CUSTOMER DISPLAY CSS */

.cust-display {
    width: 100vw;
    height: 100vh;
    /* margin: 0; */
    /* padding: 0; */
    grid-template-areas: "recD recD custI custI custI custI"
                         "recD recD custI custI custI custI"
                         "recD recD custI custI custI custI"
                         "recD recD custI custI custI custI"
                         "recD recD custT custT custT custT"
                         "recD recD custT custT custT custT";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cust-display > div {
    border: black 1px solid;
}

.cust-img {
    height: 100%;
}

.cust-img-div {
    grid-area: custI;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.cust-totals {
    display: grid;
    grid-area: custT;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "custCA custCA custCA"
                         "custCH custCH custCH"
                         "subtotal tax grand"
                         "subtotal tax grand";
}

.cust-totals > div {
    border: 1px black solid;
}

.cust-total-cash {
    grid-area: custCA;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.cust-total-change {
    grid-area: custCH;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.cust-total-sub {
    grid-area: subtotal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cust-total-tax {
    grid-area: tax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cust-total-grand {
    grid-area: grand;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cust-totals span {
    font-size: 2.5rem;
}

/* recD display css */

.items-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.item-div-single {
display: flex;
justify-content: space-between;
border: black 1px solid;
}

.item-div-double {
border: black 1px solid;
}

.double-div {
display: flex;
justify-content: space-between;
}

.totals-div {
display: flex;
flex-direction: column;
gap: 5px;
}

.total-div {
display: flex;
justify-content: space-between;
border: 1px black solid;
}

.grand-total {
font-size: 1.2rem;
margin-top: 5px;
margin-bottom: 5px;
}

.red {
color: red;
}

/* recD css ends */